<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta property="og:site_name" content="강남성서침례교회 :: GNCHURCH">
<meta property="og:type" content="article">
<meta property="og:url" content="http://gnbaptist">
<meta property="og:title" content="[강남성서침례교회 - 메인] 강남 성서 침례 교회">
<meta property="og:description" content="하나님의 사랑과 구원의 소식을 전파하는 강남성서침례교회">
<meta name="description" content="하나님의 사랑과 구원의 소식을 전파하는 강남성서침례교회">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
<title>강남성서침례교회</title>
<link rel="shortcut icon" type="image/x-icon" href="../../img/img_logo.png">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
<link rel="stylesheet" type="text/css" href="../../css/index.css?v4">
<link rel="stylesheet" type="text/css" href="../../css/contents.css">
<link rel="stylesheet" type="text/css" href="../../css/reset.css">
<link rel="stylesheet" type="text/css" href="../../css/font.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">



</head>
<body>
<div id="wrap" class="wrap">
  <?php include $_SERVER["DOCUMENT_ROOT"]."/html/include/header.php" ?>

  <div class="container">
    <ul class="location">
  		<li><a href="/" class="location_list">홈 </a></li>
  		<li><a class="location_list">교회 안내</a></li>
  		<li><a class="location_list">예배 시간</a></li>
  	</ul>
    <div class="content">
      <div class="content_head">
  			<h2 class="page_title">예배 시간</h2>
        <p class="page_info">
          하나님의 사랑과 구원의 소식을 전파하는
          강남성서침례교회<br />
          GangNam Bible Baptist Church !
  			</p>
  		</div>
      <div class="spot sample"></div>
      <div class="content_box">
        <?php include $_SERVER["DOCUMENT_ROOT"]."/html/include/guidance-loc.php" ?>
        <div class="content_box_right">
          <div class="table_wrap">
            <table class="wrsp_tbl time_table">
      				<colgroup>
      					<col class="" style="width:24%">
      					<col class="">
      					<col class="" style="width:14%">
                <col class="">
      				</colgroup>
      				<thead>
      					<tr>
      						<th>구분</th>
      						<th>시간</th>
      						<th>장소</th>
                  <th>인도자</th>
      					</tr>
      				</thead>
      				<tbody>
      					<tr>
      						<td>단번에 읽는 조직 신앙</td>
      						<td>오전 10:00</td>
      						<td>본당 (9F)</td>
                  <td>김석수 목사</td>
      					</tr>
      					<tr>
      						<td>주일 예배</td>
      						<td>오전 11:00</td>
      						<td>본당 (9F)</td>
                  <td>이태평 목사</td>
      					</tr>
      					<tr>
      						<td>주일 청년부</td>
      						<td>오후 1:00</td>
      						<td>청년부 예배당 (8F)</td>
                  <td>김석수 목사</td>
      					</tr>
      					<tr>
      						<td>주일 아동부</td>
      						<td>오전 11:00</td>
      						<td>본당 (9F)</td>
                  <td>사모</td>
      					</tr>
      					<tr>
      						<td>수요 예배</td>
      						<td>오후 7:00</td>
      						<td>본당 (9F)</td>
                  <td>이태평 목사</td>
      					</tr>
      				</tbody>
      			</table>
          </div>
        </div>
      </div>
    </div>

  </div>

  <?php include $_SERVER["DOCUMENT_ROOT"]."/html/include/footer.php" ?>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>

  <script src="../../js/index.js"></script>
</body>

</html>
