<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta property="og:site_name" content="강남성서침례교회 :: GNCHURCH">
<meta property="og:type" content="article">
<meta property="og:url" content="http://gnbaptist">
<meta property="og:title" content="[강남성서침례교회 - 메인] 강남 성서 침례 교회">
<meta property="og:description" content="하나님의 사랑과 구원의 소식을 전파하는 강남성서침례교회">
<meta name="description" content="하나님의 사랑과 구원의 소식을 전파하는 강남성서침례교회">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
<title>강남성서침례교회</title>
<link rel="shortcut icon" type="image/x-icon" href="../../img/img_logo.png">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
<link rel="stylesheet" type="text/css" href="../../css/index.css?v4">
<link rel="stylesheet" type="text/css" href="../../css/contents.css">
<link rel="stylesheet" type="text/css" href="../../css/reset.css">
<link rel="stylesheet" type="text/css" href="../../css/font.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">



</head>
<body>
<div id="wrap" class="wrap">
  <?php include $_SERVER["DOCUMENT_ROOT"]."/html/include/header.php" ?>
  <div class="container">

  <ul class="location">
		<li>
			<a href="/" class="location_list">홈 </a>
		</li>
		<li>
			<a class="location_list">교회 소개 </a>
		</li>
		<li>
			<a class="location_list">신조</a>
		</li>
	</ul>
  <div class="content">
    <div class="content_head">
			<h2 class="page_title">신조</h2>
      <p class="page_info">
        하나님의 사랑과 구원의 소식을 전파하는
        강남성서침례교회<br />
        GangNam Bible Baptist Church !
			</p>
		</div>
    <div class="spot creed">
		</div>
    <div class="content_box">
      <ol class="ol_list">
        <li>
          <span class="ol_style">01_</span>
          우리는 신구약 정경(正經) 66권은 성령의 영감으로 기록된 하나님의 말씀이며, 성경은 우리의 신앙과 실천에 있어서 최고의 권위이며, 성경이 가르치는 모든 내용은 절대 무오함을 믿는다.<br />
          (마 5:17-18, 요 10:35, 17:17, 딤후 3:16, 벧후 1:21)
        </li>
        <li>
          <span class="ol_style">02_</span>
          우리는 성경에는 여러 시대가 나타나 있으며, 성경은 문자적, 문법적, 역사적 원리에 의해 해석해야 함을 믿는다.<br />
          (롬 16:25-26, 엡 3:1-6, 골 1:24-29)
        </li>

        <li>
          <span class="ol_style">03_</span>
          우리는 스스로 존재 하셔서 천지와 우주 만물 및 인간을 창조하신 창조주 하나님을 믿는다.<br />
        (창 1:1, 26-27, 2:2-3, 시 8:3, 출 3:14)

        <li>
          <span class="ol_style">04_</span>
           우리는 성삼위일체 하나님을 믿는다.<br />
        (사 48:16, 마 28:19-20)

        <li>
          <span class="ol_style">05_</span>
          우리는 하나님의 독생자이신 예수 그리스도는 완전한 하나님이시며 동시에 완전한 인간이시고, 그 분만이 우리의 유일한 구세주이심을 믿는다. 우리는 또한 그의 동정녀 탄생, 무죄한 생애, 대속적 죽음, 육체적 부활, 승천 및 가시적 재림을 믿는다.<br />
        (요 1:1, 8:58, 눅 2:52, 사 7:14, 마 1:18-25, 요 20:11-17, 고전 15:1-19, 행 1:11, 히 4:15, 요일 2:2)

        <li>
          <span class="ol_style">06_</span>
        우리는 오늘날의 은사운동 (방언, 신유, 入神, 透視, 靈書 등의 신비체험)은 비성서적인 것으로 믿는다.<br />
        (고전 13:8-13, 살후 2:9-10)

        <li>
          <span class="ol_style">07_</span>
         우리는 천사가 타락하여 사탄이 되었으며, 그와 함께 타락한 다른 천사들이 마귀들이 되었음을 믿는다.<br />
        (겔 28:11-15, 사 14:12-20, 마 12:24)

        <li>
          <span class="ol_style">08_</span>
         우리는 하나님의 형상대로 하나님에 의해 친히 창조된 인간은 죄 때문에 타락해 스스로 구원할 수 있는 능력이 전혀 없음을 믿는다.<br />
        (롬 5:8, 6:23, 엡 2:1, 딤전 1:15)

        <li>
          <span class="ol_style">09_</span>
           우리는 예수 그리스도를 믿음으로 구원 받는 이신득의(以信得義)의 교리를 믿는다.<br />
        (행 15:11, 갈 2:16, 엡 2:8-9)
        </li>
        <li>
          <span class="ol_style">10_</span>
           우리는 예수 그리스도께서 전 인류를 구속하기 위해 십자가에 달려 죽으셨음을 믿는다.<br />
        (요 1:29, 3:16, 고후 5:19, 딤전 4:10, 벧후 2:1)
        </li>
        <li>
          <span class="ol_style">11_</span>
           우리는 한 번 구원받은 성도는 영원히 멸망하지 않음을 믿는다.<br />
        (요10:28-29, 롬 8:31-39)
        </li>
        <li>
          <span class="ol_style">12_</span>
         우리는 구원받은 영혼이 침례에 순종함으로 교회의 회원이 됨을 믿는다.<br />
        (행 2:41, 마 28:19-20)
        </li>
        <li>
          <span class="ol_style">13_</span>
           우리는 교회의 직분은 목사와 집사뿐이며, 이는 남자에 국한됨을 믿는다.<br />
        (딤전 3:1-13, 2:11-12, 고전 14:34-36)
        </li>
        <li>
          <span class="ol_style">14_</span>
           우리는 믿는 자의 침례와 주의 만찬만이 교회의 의식임을 믿는다.<br />
        (행 2:41, 고전 11:17-34)
        </li>
        <li>
          <span class="ol_style">15_</span>
           우리는 개교회의 독립성을 믿는다.<br />
        (행 13:2-3, 롬 12:16, 고전 1:10, 6:1-8, 고후 13:11, 엡 4:3)
        </li>
        <li>
          <span class="ol_style">16_</span>
           우리는 정교(政敎)의 분리를 믿는다.<br />
        (마 22:21, 롬 13:1-7)
        </li>
        <li>
          <span class="ol_style">17_</span>
          우리는 교회와 이스라엘은 구별됨을 믿는다.<br />
        (고전 10:32)
        </li>
        <li>
          <span class="ol_style">18_</span>
          우리는 주님의 지상명령(至上命令)인 세계 선교를 위해 신앙을 같이하는 교회들이 함께 협력해야 함을 믿는다.<br />
        (마 28:18-20)
        </li>
        <li>
          <span class="ol_style">19_</span>
          우리는 에큐메니칼 운동은 비성경적인 것임을 믿는다.<br />
        </li>
        (고후 6:14-18, 계 18:4)
        <li>
          <span class="ol_style">20_</span>
           우리는 환란전 휴거설과 전천년설이 가장 성경적인 종말관임을 믿는다.<br />
        (살전 1:10, 4:13-18, 계 3:10, 계 20:1-10)
        </li>
        <li>
          <span class="ol_style">21_</span>
          우리는 천국과 지옥의 實在를 믿는다.<br />
        (행 7:56, 엡 2:6, 막 9:42-50, 계 20:11-15, 21:8)
        </li>

      </ol>




    </div>
  </div>

</div>
  <?php include $_SERVER["DOCUMENT_ROOT"]."/html/include/footer.php" ?>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>

<script src="../../js/index.js"></script>
</script>

</body>

</html>
