<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta property="og:site_name" content="강남성서침례교회 :: GNCHURCH">
<meta property="og:type" content="article">
<meta property="og:url" content="http://gnbaptist">
<meta property="og:title" content="[강남성서침례교회 - 메인] 강남 성서 침례 교회">
<meta property="og:description" content="하나님의 사랑과 구원의 소식을 전파하는 강남성서침례교회">
<meta name="description" content="하나님의 사랑과 구원의 소식을 전파하는 강남성서침례교회">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
<title>강남성서침례교회</title>
<link rel="shortcut icon" type="image/x-icon" href="../../img/img_logo.png">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
<link rel="stylesheet" type="text/css" href="../../css/index.css?v4">
<link rel="stylesheet" type="text/css" href="../../css/contents.css">
<link rel="stylesheet" type="text/css" href="../../css/reset.css">
<link rel="stylesheet" type="text/css" href="../../css/font.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">



</head>
<body>
<div id="wrap" class="wrap">

  <?php include $_SERVER["DOCUMENT_ROOT"]."/html/include/header.php" ?>

  <div class="container">
    <ul class="location">
  		<li>
  			<a href="/" class="location_list">홈 </a>
  		</li>
  		<li>
  			<a class="location_list">교회 소개 </a>
  		</li>
  		<li>
  			<a class="location_list">담임목사 환영</a>
  		</li>
  	</ul>
    <div class="content">
      <div class="content_head">
  			<h2 class="page_title">담임목사 환영</h2>
        <p class="page_info">
          하나님의 사랑과 구원의 소식을 전파하는
          강남성서침례교회<br />
          GangNam Bible Baptist Church !
  			</p>
  		</div>
      <div class="spot pastor01">
  		</div>
      <div class="content_box speech">
        <p>
          우리 교회 홈페이지 방문을 주님의 이름으로 환영합니다<br />
          우리 교회는 성경적 믿음의 기초가 있는 교회.<br />
          주님 마음으로 잃어버린 영혼들을 위해 복음을 전하는 교회.<br />
          세계 선교에 힘쓰는 교회.<br />
          사랑의 섬김이 있는 교회.<br />
          우리의 모든사역을 통해 오직 주 예수 그리스도의 이름만이 높여지시고<br />
          오직 하나님만이 영광 받으시길 원하는 교회입니다
        </p>
        <p>
          여러분을 강남성서침례교회로 초대합니다. 이곳에서의 귀한 만남을 통해 하나님과의 관계가 회복이 되고,<br />
          인생의 모든 문제도 주님 안에서 해결함을 받기를 원합니다.<br />
          우리 교회 홈페이지를 방문하신 분들에게 하나님의 크신 은혜와 평강이 있기를 소망합니다.
          <br /><br />
          강남성서침례교회 담임목사 이 태평
        </p>
      </div>
    </div>
  </div>

   <?php include $_SERVER["DOCUMENT_ROOT"]."/html/include/footer.php" ?>

  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>

<script src="../../js/index.js"></script>
<script>
// $('.btn-close').on('click', function(){
//   closeMainPopup();
// });
// $('.chk-dontshow').on('click', function(){
//   closePopupNotToday();
// });
//
// console.log( getCookie("notToday") );
// if(getCookie("notToday")!="Y"){
// 		$(".popup-wrap").show('fade');
// }
//
// function closePopupNotToday(){
// 		setCookie('notToday','Y', 1);
// 		$(".popup-wrap").hide('fade');
// }
// function setCookie(name, value, expiredays) {
// 	var today = new Date();
// 	    today.setDate(today.getDate() + expiredays);
//
// 	    document.cookie = name + '=' + escape(value) + '; path=/; expires=' + today.toGMTString() + ';';
// }
//
//
// function closeMainPopup(){
// 	$(".popup-wrap").hide('fade');
// }
//
// function getCookie( cookie_name ) {
//
// 	var search = cookie_name + "=";
//
// 	if (document.cookie.length > 0) {
// 	 offset = document.cookie.indexOf(search);
//
// 	 if (offset != -1) {
// 		offset += search.length;
// 		end = document.cookie.indexOf(";", offset);
// 		if (end == -1)
// 		 end = document.cookie.length;
//
// 		return unescape(document.cookie.substring(offset, end));
// 	 }
// 	}
// }



</script>

</body>

</html>
