<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta property="og:site_name" content="강남성서침례교회 :: GNCHURCH">
<meta property="og:type" content="article">
<meta property="og:url" content="http://gnbaptist">
<meta property="og:title" content="[강남성서침례교회 - 메인] 강남 성서 침례 교회">
<meta property="og:description" content="하나님의 사랑과 구원의 소식을 전파하는 강남성서침례교회">
<meta name="description" content="하나님의 사랑과 구원의 소식을 전파하는 강남성서침례교회">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
<title>강남성서침례교회</title>
<link rel="shortcut icon" type="image/x-icon" href="../../img/img_logo.png">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
<link rel="stylesheet" type="text/css" href="../../css/index.css?v4">
<link rel="stylesheet" type="text/css" href="../../css/contents.css">
<link rel="stylesheet" type="text/css" href="../../css/reset.css">
<link rel="stylesheet" type="text/css" href="../../css/font.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">





</head>
<body>
<div id="wrap" class="wrap">
  <?php include $_SERVER["DOCUMENT_ROOT"]."/html/include/header.php" ?>

  <div class="container">
    <ul class="location">
  		<li><a href="/" class="location_list">홈 </a></li>
  		<li><a class="location_list">말씀 선포</a></li>
  		<li><a class="location_list">주일 말씀 영상</a></li>
  	</ul>
    <div class="content">
      <div class="content_head">
  			<h2 class="page_title">주일 설교</h2>
        <p class="page_info">
          하나님의 사랑과 구원의 소식을 전파하는
          강남성서침례교회<br />
          GangNam Bible Baptist Church !
  			</p>
  		</div>
      <div class="spot sample"></div>
      <div class="content_box">
        <?php include $_SERVER["DOCUMENT_ROOT"]."/html/include/sermon-loc.php" ?>
        <div class="content_box_right">
          <div class="txt_wrap">
            <ul class="sermon_desc">
              <li>
                <span class="highlight">가정에게 주신 권위와 책임</span>
              </li>
              <li>
                [작성자]<span>이태평 목사</span>
              </li>
              <li>
                [날짜]<span>2019.04.13</span>
              </li>
            </ul>
            <div class="txt_script_wrap">
              <p class="txt_script">
                요즈음 우리는 주일 아침 성경 개관 반을 통해 하나님께서 세우신 질서에 대해 배웠습니다<br />
                하나님과 피조물 사이, 사람들 간에 주신 질서가 있었습니다질서는 권위와 귀결됩니다<br />
                사람은 반드시 권위에 복종해야 하며 권위를 부여받은 자에게는 책임도 반드시 있습니다.<br />
                사람이 아무리 자기를 높여도 결국 하나님의 권위 아래 있고<br />
                권위를 멸시할 때 하나님의 심판에 놓이게 됩니다.<br />
                권위를 침범하는 행위의 원인은 교만인데 이것은 마귀로부터 왔습니다<br />
                교만은 높이고자 하는 마음입니다<br /><br />

                가정의 달을 맞아 하나님께서 가장에게 주신 권위의 위중성을 생각해봤습니다<br />
                아담이 하나님께서 주신 "지키는 자"로서의 권위를 수행하지 못했을 때 인류와 모든 피조물에게 저주가 임했습니다<br />
                또 이스라엘(야곱)의 맏아들 르우벤은 장자로 태어났으나 아버지의 권위를 침해하여 장자의 직분을 잃었습니다. <br />
                다윗왕은 충신 우리아를 죽이고 그의 아내를 빼앗으므로 "칼이 네 집에서 결코 떠나지 아니하리라"는 하나님의 심판을 받았습니다<br />
                축복과 저주가 가장을 통해 그 집에 들어오고 나가는 것을 보게 됩니다.<br />
                물론 성경에는 여러 믿음의 여인들의 헌신을 하나님께서 받으신 것을 봅니다.<br /><br />
                </p>
                <p>
                그럴지라도 가장에게 주신 하나님의 권위가 성경 속에 흐르고 있습니다.<br />
                하나님께로부터 오지 않은 권위는 없다고 말씀하셨습니다.(로마서 13:1)<br />
                가장의 권위는 존중되어야 하고 가장은 하나님 앞에서 권위를 위임받은 자로서 책임있게 행해야 합니다
              </p>
            </div>
          </div>

          <div class="table_wrap">
            <table class="wrsp_tbl">
              <caption class="blind">칼럼, 간증, 큐티</caption>
              <colgroup>
                <col style="width: 80px">
                <col style="width: auto;">
                <col style="width: 80px;">
                <col style="width: 100px;">
              </colgroup>
              <thead>
                <tr>
                  <th scope="col">번호</th>
                  <th scope="col">제목</th>
                  <th scope="col">작성자</th>
                  <th scope="col">날짜</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>15</td>
                  <td><a href="#"><p class="title ellipsis on">가정에게 주신 권위와 책임</p></a></td>
                  <td>이태평</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>14</td>
                  <td><a href="#"><p class="title ellipsis">가정에게 주신 권위와 책임</p></a></td>
                  <td>김석수</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>13</td>
                  <td><a href="#"><p class="title ellipsis">가정에게 주신 권위와 책임</p></a></td>
                  <td>김석수</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td><a href="#"><p class="title ellipsis">가정에게 주신 권위와 책임</p></a></td>
                  <td>김석수</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>11</td>
                  <td><a href="#"><p class="title ellipsis">가정에게 주신 권위와 책임</p></a></td>
                  <td>이태평</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td><a href="#"><p class="title ellipsis">가정에게 주신 권위와 책임</p></a></td>
                  <td>이태평</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td><a href="#"><p class="title ellipsis">가정에게 주신 권위와 책임</p></a></td>
                  <td>김석수</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td><a href="#"><p class="title ellipsis">가정에게 주신 권위와 책임</p></a></td>
                  <td>김석수</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td><a href="#"><p class="title ellipsis">가정에게 주신 권위와 책임</p></a></td>
                  <td>김석수</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td><a href="#"><p class="title ellipsis">가정에게 주신 권위와 책임</p></a></td>
                  <td>이태평</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td><a href="#"><p class="title ellipsis">가정에게 주신 권위와 책임</p></a></td>
                  <td>김석수</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><a href="#"><p class="title ellipsis">가정에게 주신 권위와 책임</p></a></td>
                  <td>이태평</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><a href="#"><p class="title ellipsis">가정에게 주신 권위와 책임</p></a></td>
                  <td>김석수</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><a href="#"><p class="title ellipsis">가정에게 주신 권위와 책임</p></a></td>
                  <td>이태평</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td><a href="#"><p class="title ellipsis">가정에게 주신 권위와 책임</p></a></td>
                  <td>김석수</td>
                  <td>2019.04.13</td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination justify-content-center">
              <li class="page-item disabled"><a href="" class="page-link"><i class="fas fa-angle-double-left"></i></a></li>
              <li class="page-item disabled"><a href="" class="page-link"><i class="fas fa-angle-left"></i></a></li>
              <li class="page-item active"><a href="" class="page-link">1</a></li>
              <li class="page-item"><a href="" class="page-link">2</a></li>
              <li class="page-item"><a href="" class="page-link"><i class="fas fa-angle-right"></i></a></li>
              <li class="page-item"><a href="" class="page-link"><i class="fas fa-angle-double-right"></i></a></li>
            </ul>
            <ul class="search">
              <li>
                <select>
                  <option value="title">제목</option>
                  <option value="contents">본문</option>
                  <option value="pastor">설교자</option>
                </select>
              </li>
              <li>
                <input type="text" required="required" label="검색어"/>
                <button class="btn_search"><i class="fas fa-search"></i></button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <?php include $_SERVER["DOCUMENT_ROOT"]."/html/include/footer.php" ?>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>

  <script src="../../js/index.js"></script>
</body>

</html>
