<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta property="og:site_name" content="강남성서침례교회 :: GNCHURCH">
<meta property="og:type" content="article">
<meta property="og:url" content="http://gnbaptist">
<meta property="og:title" content="[강남성서침례교회 - 메인] 강남 성서 침례 교회">
<meta property="og:description" content="하나님의 사랑과 구원의 소식을 전파하는 강남성서침례교회">
<meta name="description" content="하나님의 사랑과 구원의 소식을 전파하는 강남성서침례교회">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
<title>강남성서침례교회</title>
<link rel="shortcut icon" type="image/x-icon" href="../../img/img_logo.png">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
<link rel="stylesheet" type="text/css" href="../../css/index.css?v4">
<link rel="stylesheet" type="text/css" href="../../css/contents.css">
<link rel="stylesheet" type="text/css" href="../../css/reset.css">
<link rel="stylesheet" type="text/css" href="../../css/font.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">





</head>
<body>
<div id="wrap" class="wrap">
  <?php include $_SERVER["DOCUMENT_ROOT"]."/html/include/header.php" ?>

  <div class="container">
    <ul class="location">
  		<li><a href="/" class="location_list">홈 </a></li>
  		<li><a class="location_list">말씀 선포</a></li>
  		<li><a class="location_list">주일 말씀 영상</a></li>
  	</ul>
    <div class="content">
      <div class="content_head">
  			<h2 class="page_title">주일 설교</h2>
        <p class="page_info">
          하나님의 사랑과 구원의 소식을 전파하는
          강남성서침례교회<br />
          GangNam Bible Baptist Church !
  			</p>
  		</div>
      <div class="spot sample"></div>
      <div class="content_box">
        <?php include $_SERVER["DOCUMENT_ROOT"]."/html/include/sermon-loc.php" ?>
        <div class="content_box_right">
          <div class="video_wrap">
            <ul class="sermon_desc">
              <li>
                <span class="highlight">예수님의 지상 재림과 천년왕국</span>
              </li>
              <li>
                [본문]<span>여호수하기 1:5-18</span>
              </li>
              <li>
                [날짜]<span>2019.04.13</span>
              </li>
            </ul>
            <iframe width="800" height="455" src="https://www.youtube.com/embed/a4fNCTYCBFs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videmo"></iframe>
            <!-- <video class="video" height="240" controls style="width:100%">
              <source src="http://www.ithinknext.com/mydata/board/files/F201308021823010.mp4" type="video/mp4">
            </video> -->
            <div class="txt_script_wrap">
              <button class="btn">말씀 본문 읽기<i class="fas fa-angle-down"></i></button>
              <p class="txt_script" id="txtScript">
                요한계시록 마지막 장입니다. 하나님은 장차 이 세상에 어떠한 일들이 일어날지를 사도 요한을 통해 소아시아에 있는 일곱 교회에 알게 하셨습니다. 당시 소아시아에 있는 일곱 교회는 과거, 현재, 미래의 모든 교회와 이 세상 모든 사람들에게 들려주시는 하나님의 경고의 말씀이기도 합니다. 때문에 우리는 현재의 삶도 중요하지만, 더 중요한 것은 장차 세상에 임할 일들과 그리고 미래에 내가 들어갈 그 영광스러운 하나님의 왕국을 바라보면서 우리의 남은 인생의 삶을 살아야 될 것입니다. 왜냐 하면 현재의 우리의 삶은 잠간 머무는 것이지만, 하나님 나라는 영원한 것이기 때문입니다. 오늘은 요한계시록 마지막인 22장을 마무리하면서 요한계시록 중요한 전체적인 것을 말씀드리고자 합니다.
                <br /><br />
                 먼저 하나님께서 계시록을 주신 목적이 있습니다. 이것을 아는 것이 매우 중요합니다. 사도 요한이 주님으로부터 이 말씀을 받을 때에의 시대적 상황은 그리스도인들에게 말할 수 없는 극한 상황 속에 몰리고 있었습니다. 당시 로마 제국의 기독교인들에 대한 핍박은 상상을 초월했습니다. 히브리서 11장에 있는 것처럼, 짐승의 밥이 되기도 하고, 죽음과 감옥과, 매 맞음과 굶주림, 톱에 몸을 잘리기도 하고, 궁핍, 채찍질 등등입니다.
                <br /><br />
                 그들은 히11:38 절에 기록된 것처럼, “사막과 산과 동굴과 땅굴에서 떠돌아 다녔느니라“라고 기록하고 있습니다. 그러면 이들에게 지금 필요한 것은 무엇일까요? 하나님의 위로입니다. ”지금 겪는 고난과 핍박, 죽음이 헛되지 않다“는 것입니다. 그들의 수고와 고난에 대해 반드시 보상이 있다는 것, 그래서 주님은 새 하늘과 새 땅을 마련해 놓으셨다는 것입니다. 예수님은 자신의 천사를 통해 사도 요한에게 장차 될 일과 본 것을 소아시아 교회에 증언하게 하셨습니다. 사도 요한은 주님으로부터 본 것을 기록해서 소아시아에 있는 일곱 교회에 보내라는 명령을 받습니다. 예수님은 일곱 교회 에 책망과 칭찬, 그리고 회개와 복음의 진리를 끝까지 인내하며 견디는 이기는 자가 될 것을 말씀하십니다.
                <br /><br />
                 이 일곱 교회는 그 당시나 지금이나 교회들의 모습을 잘 보여주고 있습니다. 칭찬받는 교회도 있지만, 심한 책망과 심판의 경고를 듣는 교회도 있습니다. 이것은 교회 뿐 만이 아닙니다. 개인도 마찬가지입니다. 주님으로부터 칭찬받는 성도가 있는가 하면 회개 촉구와 책망을 받는 성도도 있습니다. 특히 주님은 일곱 교회에 서신을 보내시면서 하신 대표적인 말씀이 있습니다. 그것은 “귀있는 자는 성령께서 교회들에게 하시는 말씀을 들을지어다“입니다.
              </p>
            </div>
          </div>

          <div class="table_wrap">
            <table class="wrsp_tbl">
              <caption class="blind">설교 영상</caption>
              <colgroup>
                <col style="width: 80px">
                <col style="width: auto;">
                <col style="width: 80px;">
                <col style="width: 100px;">
              </colgroup>
              <thead>
                <tr>
                  <th scope="col">번호</th>
                  <th scope="col">제목</th>
                  <th scope="col">설교자</th>
                  <th scope="col">날짜</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>15</td>
                  <td><a href="#"><p class="title ellipsis">천년 왕국, 하늘 소망</p></a></td>
                  <td>이태평</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>14</td>
                  <td><a href="#"><p class="title ellipsis">천년 왕국, 하늘 소망</p></a></td>
                  <td>김석수</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>13</td>
                  <td><a href="#"><p class="title ellipsis">천년 왕국, 하늘 소망</p></a></td>
                  <td>김석수</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td><a href="#"><p class="title ellipsis">천년 왕국, 하늘 소망</p></a></td>
                  <td>김석수</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>11</td>
                  <td><a href="#"><p class="title ellipsis">천년 왕국, 하늘 소망</p></a></td>
                  <td>이태평</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td><a href="#"><p class="title ellipsis">천년 왕국, 하늘 소망</p></a></td>
                  <td>이태평</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td><a href="#"><p class="title ellipsis">천년 왕국, 하늘 소망</p></a></td>
                  <td>김석수</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td><a href="#"><p class="title ellipsis">천년 왕국, 하늘 소망</p></a></td>
                  <td>김석수</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td><a href="#"><p class="title ellipsis">천년 왕국, 하늘 소망</p></a></td>
                  <td>김석수</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td><a href="#"><p class="title ellipsis">천년 왕국, 하늘 소망</p></a></td>
                  <td>이태평</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td><a href="#"><p class="title ellipsis">천년 왕국, 하늘 소망</p></a></td>
                  <td>김석수</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><a href="#"><p class="title ellipsis">천년 왕국, 하늘 소망</p></a></td>
                  <td>이태평</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><a href="#"><p class="title ellipsis">천년 왕국, 하늘 소망</p></a></td>
                  <td>김석수</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><a href="#"><p class="title ellipsis">천년 왕국, 하늘 소망</p></a></td>
                  <td>이태평</td>
                  <td>2019.04.13</td>
                </tr>
                <tr>
                  <td>1</td>
                  <td><a href="#"><p class="title ellipsis">천년 왕국, 하늘 소망</p></a></td>
                  <td>김석수</td>
                  <td>2019.04.13</td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination justify-content-center">
              <li class="page-item disabled"><a href="" class="page-link"><i class="fas fa-angle-double-left"></i></a></li>
              <li class="page-item disabled"><a href="" class="page-link"><i class="fas fa-angle-left"></i></a></li>
              <li class="page-item active"><a href="" class="page-link">1</a></li>
              <li class="page-item"><a href="" class="page-link">2</a></li>
              <li class="page-item"><a href="" class="page-link"><i class="fas fa-angle-right"></i></a></li>
              <li class="page-item"><a href="" class="page-link"><i class="fas fa-angle-double-right"></i></a></li>
            </ul>
            <ul class="search">
              <li>
                <select>
                  <option value="title">제목</option>
                  <option value="contents">본문</option>
                  <option value="pastor">설교자</option>
                </select>
              </li>
              <li>
                <input type="text" required="required" label="검색어"/>
                <button class="btn_search"><i class="fas fa-search"></i></button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <?php include $_SERVER["DOCUMENT_ROOT"]."/html/include/footer.php" ?>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>

  <script src="../../js/index.js"></script>
</body>

</html>
