<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta property="og:site_name" content="강남성서침례교회 :: GNCHURCH">
<meta property="og:type" content="article">
<meta property="og:url" content="http://gnbaptist">
<meta property="og:title" content="[강남성서침례교회 - 메인] 강남 성서 침례 교회">
<meta property="og:description" content="하나님의 사랑과 구원의 소식을 전파하는 강남성서침례교회">
<meta name="description" content="하나님의 사랑과 구원의 소식을 전파하는 강남성서침례교회">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
<title>강남성서침례교회</title>
<link rel="shortcut icon" type="image/x-icon" href="../img/img_logo.png">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
<link rel="stylesheet" type="text/css" href="../css/index.css?v5">
<link rel="stylesheet" type="text/css" href="../css/reset.css">
<link rel="stylesheet" type="text/css" href="../css/font.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">



</head>
<body>
<div id="wrap" class="wrap">

  <style>
  .popup-wrap{position:relative;width:100%;height:100%;display:block}
  .popup{position:absolute;top:50%;left:50%;width:400px;height:auto;outline:1px solid #ddd;box-sizing: border-box;margin:200px 0 0 -200px;background-color: #fff;z-index: 999}
  .popup-img{width:100%;vertical-align: top}
  .btn-popup-wrap{display:block;width:100%;height: 50px;text-align: center;}
  .btn-close, .chk-dontshow{width:50%;box-sizing: border-box;float: left;cursor: pointer;}

  </style>
  <div class="popup-wrap" style="display:none">
    <div class="popup">
      <img src="https://s.pstatic.net/static/www/mobile/edit/2019/0225/mobile_190443479161.jpg" width=400px class="popup-img"/>
      <div class="btn-popup-wrap">
        <button type="button"  class="chk-dontshow"/>오늘 하루 보지 않기</button>
        <button type="button" class="btn-close">닫기</button>
      </div>
    </div>
  </div>
  <header id="header" class="header">
    <nav class="section_header">
      <div class="gnb-user-wrap">
        <div class="gnb-user">
          <ul class="user-list">
            <li><a href="#">로그인</a></li>
            <li><a href="#">회원가입</a></li>
            <li><a href="#">아이디/패스워드 찾기</a></li>
          </ul>
        </div>
      </div>
      <div class="gnb-menu-wrap">
        <div class="gnb-menu">
          <a href="http://enya.dreamofway.com/gn_church/html/index.html" class="logo">
            <img src="../img/img_logo.png" />
          </a>
          <ul class="gnb-menu-list">
            <li>
              <a href="info/information.html">교회 소개</a>
            </li>
            <li>
              <a href="sermon/sermon.html">말씀 선포</a>
            </li>
            <li>
              <a href="guidance/time.html">교회 안내</a>
            </li>
            <li>
              <a href="news/news.html">교회 소식</a>
            </li>
            <li>
              <a href="#">커뮤니티</a>
            </li>
          </ul>
        </div>
        <div class="gnb-sub-wrap">
          <div class="gnb-sub-list">
            <div class="gnb-sub-menu">
              <ul>
                <li><a href="info/information.html">담임목사 환영</a></li>
                <li><a href="info/information02.html">부목사 환영</a></li>
                <li><a href="info/creed.html">신조</a></li>
              </ul>
              <ul>
                <li><a href="sermon/main.html">주일 말씀 영상</a></li>
                <li><a href="sermon/sermon02.html">성경이 보인다</a></li>
                <li><a href="sermon/sermon03.html">단번에 읽는 성경</a></li>
                <li><a href="sermon/post.html">칼럼</a></li>
              </ul>
              <ul>
                <li><a href="guidance/time.html">예배 시간</a></li>
                <li><a href="guidance/order.html">예배 순서</a></li>
                <li><a href="guidance/support.html">후원하는 곳</a></li>
                <li><a href="guidance/support.html">오시는 길</a></li>
              </ul>
              <ul>
                <li><a href="news/news.html">소식 알림</a></li>
                <li><a href="news/intercessory.html">중보기도</a></li>
                <li><a href="news/week.html">금주의 말씀</a></li>
              </ul>
              <ul>
                <li><a href="#">큐티 나눔</a></li>
                <li><a href="#">Q&A 나눔</a></li>

                <li><a href="#">간증 나눔</a></li>
              </ul>
            </div>

          </div>
        </div>
      </div>

      <ul class="home_menu" style="display:none">
        <li><a href="#worship_time">예배 시간</a></li>
        <li><a href="#worship_order">예배 순서</a></li>
        <li><a href="#worship_doct">신조</a></li>
        <li><a href="#worship_support">후원하는 곳</a></li>
        <li><a href="#worship_location">오시는 길</a></li>
      </ul>
      <!-- <ul class="gnb_menu">
        <li><a href="#worship_time">예배 시간</a></li>
        <li><a href="#worship_order">예배 순서</a></li>
        <li><a href="#worship_doct">신조</a></li>
        <li><a href="#worship_support">후원하는 곳</a></li>
        <li><a href="#worship_location">오시는 길</a></li>
      </ul> -->
      <a href="#none" class="btn_menu"><img src="../img/btn_menu.png" /></a>
      <ul class="m_menu" style="display:none">
        <li><a href="#worship_time">예배 시간</a></li>
        <li><a href="#worship_order">예배 순서</a></li>
        <li><a href="#worship_doct">신조</a></li>
        <li><a href="#worship_support">후원하는 곳</a></li>
        <li><a href="#worship_location">오시는 길</a></li>
      </ul>
    </nav>
  </header>
  <!-- intro  -->
  <section class="header_area">
    <div class="header_box">
    <p class="sub_txt">
      하나님의 사랑과<br />구원의 소식을 전파하는
    </p><hr/>
    <p class="main_txt">
      강남성서침례교회 <br /> GangNam Bible Baptist Church !
    </p>
    </div>
    <div class="parallax-container" data-parallax="scroll" data-bleed="10" data-speed="0.2" data-image-src="../img/img_header.jpg" data-natural-width="1400" data-natural-height="1400" style="height: 656px;"></div>
  </section>


  <!-- 예배 시간 -->
  <section class="worship_area" id="worship_time">
    <div class="contents">
      <h1 class="tit">예배 시간</h1>
      <p class="tit_eng">worship service</p>
      <table class="wrsp_tbl">
				<colgroup>
					<col class="" style="width:24%">
					<col class="">
					<col class="" style="width:14%">
          <col class="">
				</colgroup>
				<thead>
					<tr>
						<th>구분</th>
						<th>시간</th>
						<th>장소</th>
            <th>인도자</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>단번에 읽는 조직 신앙</td>
						<td>오전 10:00</td>
						<td>본당 (9F)</td>
            <td>김석수 목사</td>
					</tr>
					<tr>
						<td>주일 예배</td>
						<td>오전 11:00</td>
						<td>본당 (9F)</td>
            <td>이태평 목사</td>
					</tr>
					<tr>
						<td>주일 청년부</td>
						<td>오후 1:00</td>
						<td>청년부 예배당 (8F)</td>
            <td>김석수 목사</td>
					</tr>
					<tr>
						<td>수요 예배</td>
						<td>오후 7:00</td>
						<td>본당 (9F)</td>
            <td>이태평 목사</td>
					</tr>
				</tbody>
			</table>
    </div>
  </section>

  <!-- 예배 순서 -->
  <section class="worship_area bg_grey" id="worship_order">
    <div class="contents">
      <h1 class="tit">예배 순서</h1>
      <p class="tit_eng">worship service</p>
      <table class="wrsp_tbl horizontal">
        <colgroup>
          <col class="">
          <col class="">
        </colgroup>
        <tbody>
          <tr>
            <th> *찬양</th>
            <td>다함께</td>
          </tr>
          <tr>
            <th>  *기도</th>
            <td>성도</td>
          </tr>
          <tr>
            <th>  찬양</th>
            <td>다같이</td>
          </tr>
          <tr>
            <th> 찬양</th>
            <td>다같이</td>
          </tr>
          <tr>
            <th>헌금</th>
            <td>자유롭게</td>
          </tr>
          <tr>
            <th>말씀</th>
            <td>이태평 목사님(담임 목사)</td>
          </tr>
          <tr>
            <th>광고</th>
            <td>인도자</td>
          </tr>
          <tr>
            <th>폐회 기도</th>
            <td>인도자</td>
          </tr>
        </tbody>
      </table>
      <p class="desc">*별표는 다 같이 일어섭니다</p>
    </div>
  </section>


  <!-- 교회 신앙 -->
  <section class="doctrinal-area" id="worship_doct">
    <div class="contents">
      <h1 class="tit">강남성서침례교회의 신조</h1>
      <p class="tit_eng">Doctrinal Statements</p>
      <div class="doctrinal-contents">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">우리는 신구약 정경 66권은 하나님의 영감으로 기록된 그분의 말씀이며, 성경은 우리의 믿음과 실천에 있어서 최고의 권위이며, 성경이 가르치는 모든 내용은 절대 무오함을 믿는다.<br/>(마5:17-18; 요10:35; 17:17; 딤후3:16; 벧후1:21)</div>
            <div class="swiper-slide">우리는 성경에는 여러 시대가 나타나 있으며, 성경은 문자적, 문법적, 역사적 원리에 의해 해석해야 함을 믿는다.<br/>(롬16:25-26; 엡3:1-6; 골1:24-29)</div>
            <div class="swiper-slide">우리는 스스로 존재하셔서 천지와 우주 만물 및 인간을 창조하신 창조주 하나님을 믿는다.<br/>(창1:1, 26-27; 2:2-3; 시8:3; 출3:14)</div>
            <div class="swiper-slide">우리는 오늘날의 은사운동(방언, 신유등의 신비체험)은 비성경적인 것으로 믿는다.<br/>(고전13:8-13; 살후2:9-10)</div>
            <div class="swiper-slide">우리는 삼위일체 하나님을 믿는다.<br/>(사48:16; 마28:19-20)</div>
            <div class="swiper-slide">우리는 하나님의 독생자이신 예수 그리스도는 완전한 하나님이시며 동시에 완전한 인간이시고, 그분만이 우리의 유일한 구원자이심을 믿는다. 우리는 또한 그분의 처녀 탄생, 무죄한 생애, 대속의 죽음, 육체적 부활과 승천, 가시적 재림을 믿는다.<br/>(요1:1; 8:58; 눅2:52; 사7:14; 마1:18-25; 요20:11-17; 고전15:1-19; 행1:11; 히4:15; 요일2:2)</div>
            <div class="swiper-slide">우리는 루시퍼가 타락하여 사탄이 되었으며, 그와 함께 타락한 다른 천사들이 마귀들이 되었음을 믿는다.<br/>(겔28:11-15; 사14:12-20; 마12:24)</div>
            <div class="swiper-slide">우리는 하나님의 형상대로 하나님에 의해 친히 창조된 인간은 죄 때문에 타락해 스스로 구원할 수 있는 능력이 전혀 없음을 믿는다.<br/>(롬5:8; 6:23; 엡2:1; 딤전1:15)</div>
            <div class="swiper-slide">우리는 예수 그리스도를 믿음으로 구원받는 이신득의(以信得義)의 교리를 믿는다.<br/>(행15:11; 갈2:16; 엡2:8-9)</div>
            <div class="swiper-slide">우리는 예수 그리스도께서 전 인류를 구속하시기위해 십자가에 달려 죽으셨음을 믿는다.<br/>(요1:29; 3:16; 고후5:19; 딤전4:10; 벧후2:1)</div>
            <div class="swiper-slide">우리는 한 번 구원받은 성도는 영원히 멸망하지 않음을 믿는다.<br/>(요10:28-29; 롬8:31-39)</div>
            <div class="swiper-slide">우리는 구원받은 혼이 침례에 순종함으로 지역교회의 회원이 됨을 믿는다.<br/>(행2:41; 마28:19-20)</div>
            <div class="swiper-slide">우리는 교회의 직분은 목사와 집사뿐이며, 이들은 남자에 국한됨을 믿는다.<br/>(딤전2:11-12; 3:1-13; 고전14:34-36)</div>
            <div class="swiper-slide">우리는 믿는 자의 침례와 주의 만찬만이 교회의 규례임을 믿는다.<br/>(행2:41; 고전11:17-34)</div>
            <div class="swiper-slide">우리는 지역교회의 독립성을 믿는다.<br/>(행13:2-3; 롬12:16; 고전1:10; 6:1-8; 고후13:11; 엡4:3)</div>
            <div class="swiper-slide">우리는 정부와 교회의 분리를 믿는다.<br/>(마22:21; 롬13:1-7)</div>
            <div class="swiper-slide">우리는 교회와 이스라엘의 서로 구별됨을 믿는다.<br/>(고전10:32)</div>
            <div class="swiper-slide">우리는 환란전 휴거와 전천년설을 성경적인 종말관으로 믿는다.<br/>(살전1:10; 4:13-18; 계3:10; 20:1-10)</div>
            <div class="swiper-slide">우리는 에큐메니칼 운동은 비성경적인 것임을 믿는다.<br/>(고후6:14-18; 계18:4)</div>
            <div class="swiper-slide">우리는 천국과 지옥의 실재를 믿는다.<br/>(행7:56; 엡2:6; 막9:42-50; 계20:11-15; 21:8)</div>
          </div>
          <!-- Add Pagination -->
          <div class="swiper-pagination"></div>
          <!-- Add Arrows -->
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </section>

  <!-- 후원하는 곳 -->
  <section class="_area bg_grey" id="worship_support">
    <div class="contents">
      <h1 class="tit">후원하는 곳</h1>
      <p class="tit_eng">후원하는 곳이 영어로? 임시</p>
      <div class="wrsp_tbl_area">
      <h2>선교사 후원</h2>
      <table class="wrsp_tbl">
    		<colgroup>
    			<col class="">
    			<col class="">
    		</colgroup>
    		<thead>
    			<tr>
    				<th>선교 위치</th>
    				<th>선교사</th>
    			</tr>
    		</thead>
    		<tbody>
    			<tr>
    				<td>미얀마</td>
    				<td>김연규 선교사, 한대기 선교사</td>
    			</tr>
    			<tr>
    				<td>일본</td>
    				<td>박점득 선교사</td>
    			</tr>
    			<tr>
    				<td>몽골</td>
    				<td>여병무 선교사</td>
    			</tr>
    			<tr>
    				<td>중국</td>
    				<td>박정복 선교사</td>
    			</tr>
    			<tr>
    				<td>미국</td>
    				<td>이황로 선교사</td>
    			</tr>
    			<tr>
    				<td>멕시코</td>
    				<td>김정기 선교사</td>
    			</tr>
    			<tr>
    				<td>가나</td>
    				<td>임철순 선교사</td>
    			</tr>
    		</tbody>
    	</table>
      </div>
      <div class="wrsp_tbl_area">
        <h2>개척교회 및 미자립교회 후원</h2>
        <table class="wrsp_tbl">
      		<colgroup>
      			<col class=" ">
      			<col class=" ">
      		</colgroup>
      		<thead>
      			<tr>
      				<th>개척/미자립 교회</th>
      			</tr>
      		</thead>
      		<tbody>
      			<tr>
      				<td>주사랑 성서침례교회</td>
      			</tr>
      			<tr>
      				<td>동촌 강남성서침례교회</td>
      			</tr>
      			<tr>
      				<td>강진 강남성서침례교회</td>
      			</tr>
      			<tr>
      				<td>목동 성서침례교회</td>
      			</tr>
      			<tr>
      				<td>구미 성서침례교회</td>
      			</tr>
      			<tr>
      				<td>안동 성서침례교회</td>
      			</tr>
      			<tr>
      				<td>광교 성서침례교회</td>
      			</tr>
      			<tr>
      				<td>신탄진성서 성서침례교회</td>
      			</tr>
      			<tr>
      				<td>김천 성서침례교회</td>
      			</tr>
      			<tr>
      				<td>세종 성서침례교회</td>
      			</tr>
      		</tbody>
      	</table>
      </div>
      <div class="wrsp_tbl_area">
        <h2>기관 후원</h2>
        <table class="wrsp_tbl">
      		<colgroup>
      			<col class="">
      			<col class="">
      		</colgroup>
      		<thead>
      			<tr>
      				<th>기관</th>
      			</tr>
      		</thead>
      		<tbody>
      			<tr>
      				<td>성서침례 신학교</td>
      			</tr>
      			<tr>
      				<td>2020백만 명 구령본부</td>
      			</tr>
      			<tr>
      				<td>성서침례교회 유지재단</td>
      			</tr>
      			<tr>
      				<td>영이 어린이집</td>
      			</tr>
      			<tr>
      				<td>성서침례교 친교회 선교위원회</td>
      			</tr>
      		</tbody>
      	</table>
      </div>
      <p class="desc">교회 계좌번호 : 농협 351-0713-6432-93</p>
    </div>
  </section>


  <!-- 오시는 길 -->
  <section class="location_area" id="worship_location">
    <h1 class="tit">오시는 길</h1>
    <p class="tit_eng">location</p>
    <p class="txt_map">
      서울시 서초구 강남대로 55길 9-11 시원빌딩 9층<br />
    </p>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3165.551063650305!2d127.03023502673203!3d37.494919144725614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca15af2cf9b17%3A0xd1ccf1ba8e2f15a0!2z7ISc7Jq47Yq567OE7IucIOyEnOy0iOq1rCDshJzstIjrj5kg6rCV64Ko64yA66GcNTXquLggOS0xNQ!5e0!3m2!1sko!2skr!4v1550311604178"height="450" frameborder="0" style="border:0; width:100%" allowfullscreen></iframe>
    </div>

    <table class="wrsp_tbl horizontal" style="display:none">
      <tbody>
        <tr>
          <th> Tel</th>
          <td>02.583.0690</td>
        </tr>
        <tr>
          <th>E-mail</th>
          <td>bbcvan@daum.net</td>
        </tr>
        <tr>
          <th>창립</th>
          <td>2013.06.09</td>
        </tr>
        <tr>
          <th>담임 목사</th>
          <td>이태평</td>
        </tr>
        <tr>
          <th>부 목사</th>
          <td>김석수</td>
        </tr>
      </tbody>
    </table>
    <div>
      <p style="margin: 0 25px;text-align:center;font-size:16px;line-height:26px">
        <span>더 많은 정보는 아래 <br /><strong style="font-weight:600">강남성서침례교회 다음 까페</strong>에서 확인하세요!</span><br />
        <a href="http://cafe.daum.net/gnbbc" target="_blank">
          <img src="https://img15.androidappsapk.co/300/0/b/1/net.daum.android.cafe.png" width=40 style="margin:10px 20px;cursor:pointer;vertical-align: text-bottom;"/></a>
      </p>
    </div>
  </section>

  <footer id="footer" class="footer">
    서울시 서초구 강남대로 55길 9-11 시원빌딩 9층.<br />담임목사 : 이태평 | 부목사 : 김석수<br />
    [Tel] 02.583.0690 |
    [E-mail] bbcvan@daum.net<br />
    창립 2013.06.09
  </footer>
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>

<script src="../js/index.js"></script>
<script src="../js/parallax.min.js"></script>
<script>
// $('.btn-close').on('click', function(){
//   closeMainPopup();
// });
// $('.chk-dontshow').on('click', function(){
//   closePopupNotToday();
// });
//
// console.log( getCookie("notToday") );
// if(getCookie("notToday")!="Y"){
// 		$(".popup-wrap").show('fade');
// }
//
// function closePopupNotToday(){
// 		setCookie('notToday','Y', 1);
// 		$(".popup-wrap").hide('fade');
// }
// function setCookie(name, value, expiredays) {
// 	var today = new Date();
// 	    today.setDate(today.getDate() + expiredays);
//
// 	    document.cookie = name + '=' + escape(value) + '; path=/; expires=' + today.toGMTString() + ';';
// }
//
//
// function closeMainPopup(){
// 	$(".popup-wrap").hide('fade');
// }
//
// function getCookie( cookie_name ) {
//
// 	var search = cookie_name + "=";
//
// 	if (document.cookie.length > 0) {
// 	 offset = document.cookie.indexOf(search);
//
// 	 if (offset != -1) {
// 		offset += search.length;
// 		end = document.cookie.indexOf(";", offset);
// 		if (end == -1)
// 		 end = document.cookie.length;
//
// 		return unescape(document.cookie.substring(offset, end));
// 	 }
// 	}
// }



</script>

</body>

</html>
