<header id="header" class="header">
  <nav class="section_header">
    <div class="gnb-user-wrap">
      <div class="gnb-user">
        <ul class="user-list">
          <li><a href="#">로그인</a></li>
          <li><a href="#">회원가입</a></li>
          <li><a href="#">아이디/패스워드 찾기</a></li>
        </ul>
      </div>
    </div>
    <div class="gnb-menu-wrap">
      <div class="gnb-menu">
        <a href="http://enya.dreamofway.com/gn_church/html/index.php" class="logo">
          <img src="../../img/img_logo.png" />
        </a>
        <ul class="gnb-menu-list">
          <li>
            <a href="/html/info/information.php">교회 소개</a>
          </li>
          <li>
            <a href="/html/sermon/sermon.php">말씀 선포</a>
          </li>
          <li>
            <a href="/html/guidance/time.php">교회 안내</a>
          </li>
          <li>
            <a href="/html/news/news.php">교회 소식</a>
          </li>
          <li>
            <a href="/html/news/#">커뮤니티</a>
          </li>
        </ul>
      </div>
      <div class="gnb-sub-wrap">
        <div class="gnb-sub-list">
          <div class="gnb-sub-menu">
            <ul>
              <li><a href="/html/info/information.php">담임목사 환영</a></li>
              <li><a href="/html/info/information02.php">부목사 환영</a></li>
              <li><a href="/html/info/creed.php">신조</a></li>
            </ul>
            <ul>
              <li><a href="/html/sermon/sermon.php">주일 말씀 영상</a></li>
              <li><a href="/html/sermon/sermon02.php">성경이 보인다</a></li>
              <li><a href="/html/sermon/sermon03.php">단번에 읽는 성경</a></li>
              <li><a href="/html/sermon/post.php">칼럼</a></li>
            </ul>
            <ul>
              <li><a href="/html/guidance/order.php">예배 순서</a></li>
              <li><a href="/html/guidance/time.php">예배 시간</a></li>
              <li><a href="/html/guidance/support.php">후원하는 곳</a></li>
              <li><a href="/html/guidance/map.php">오시는 길</a></li>
            </ul>
            <ul>
              <li><a href="/html/news/news.php">소식 알림</a></li>
              <li><a href="/html/news/intercessory.php">중보기도</a></li>
              <li><a href="/html/news/week.php">금주의 말씀</a></li>
            </ul>
            <ul>
              <li><a href="#">큐티 나눔</a></li>
              <li><a href="#">Q&A 나눔</a></li>
              <li><a href="#">간증 나눔</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <ul class="home_menu" style="display:none">
      <li><a href="#worship_time">예배 시간</a></li>
      <li><a href="#worship_order">예배 순서</a></li>
      <li><a href="#worship_doct">신조</a></li>
      <li><a href="#worship_support">후원하는 곳</a></li>
      <li><a href="#worship_location">오시는 길</a></li>
    </ul>
    <!-- <ul class="gnb_menu">
      <li><a href="#worship_time">예배 시간</a></li>
      <li><a href="#worship_order">예배 순서</a></li>
      <li><a href="#worship_doct">신조</a></li>
      <li><a href="#worship_support">후원하는 곳</a></li>
      <li><a href="#worship_location">오시는 길</a></li>
    </ul> -->
    <a href="#none" class="btn_menu"><img src="../img/btn_menu.png" /></a>
    <ul class="m_menu" style="display:none">
      <li><a href="#worship_time">예배 시간</a></li>
      <li><a href="#worship_order">예배 순서</a></li>
      <li><a href="#worship_doct">신조</a></li>
      <li><a href="#worship_support">후원하는 곳</a></li>
      <li><a href="#worship_location">오시는 길</a></li>
    </ul>
  </nav>
</header>
