<div class="content_box_left">
  <h3>설교 영상</h3>
  <ul class="sub-menu">
    <li class="on"><a href="/html/sermon/sermon.php">주일 예배</a></li>
    <li><a href="/html/sermon/sermon02.php">성경이 보인다</a></li>
    <li><a href="/html/sermon/sermon03.php">단번에 읽는 조직 신학</a></li>
    <li><a href="/html/sermon/post.php">칼럼</a></li>
  </ul>
</div>
